/* COMMON BUTTON START */
.common_button,
a.common_button {
    border: none;
    outline: none;
    padding: 5px 10px;
    font-size: 14px;
    font-weight: 600;
    border-radius: 0px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    height: 35px;


    &.add_new_button {
        background-color: var(--theme_color);
        color: var(--white);

        &:hover {
            background-color: var(--theme_dark);
            color: var(--white);
        }
    }

    &.btn-cancel {
        background-color: #E3E3E3;
        color: var(--text_dark);

        &:hover {
            background-color: #D1D5DB;
            color: #1F2937;
        }
    }
}

/* COMMON BUTTON END */