/*---------------------------
	Font family
----------------------------*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  /* :::::: Fonts :::::: */
  --primary-font: "Poppins", sans-serif;
  /* :::::: Colors :::::: */
  --theme_color: #4F46E5;
  --theme_dark: #0F172A;
  --border_color: #E2E8F0;
  --text_dark: #0D0D0D;
  --text_ash: #616B80;
  --white: #FFFFFF;
  --black: #000;
}

/*------------------------------------------------------------------
1. General
----------------------------------------------------------------*/
/* Theme Reset Style */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

:root {
  scroll-behavior: unset;
}

body {
  font-size: 17px;
  overflow-x: hidden;
  font-family: var(--primary-font);
  padding: 0;
  margin: 0;
}

ul,
li,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

/* Global Elements */
p {
  font-size: 12px;
  line-height: 24px;
  margin: 0;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--primary-font);
  font-weight: 500;
  margin: 0;
  padding: 0;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

img {
  max-width: 100%;
}

a,
button {
  font-family: var(--primary-font);
}

.dark_sidebar {
  background: var(--theme_dark);
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 99;
  padding-bottom: 50px;
  padding-left: 20px;
  padding-top: 22px;
  padding-right: 20px;
  position: fixed;
  width: 250px;
  z-index: 999;
  overflow: hidden;
  overflow-y: auto;
  box-shadow: 0 12px 30px rgba(80, 143, 244, 0.1);
  transition: 0.3s;
  scrollbar-width: none;
}
.dark_sidebar .logo {
  margin-bottom: 28px;
}

.sidebar #sidebar_menu > li {
  margin-bottom: 10px;
}
.sidebar #sidebar_menu > li a {
  padding: 4px 10px;
  transition: 0.3s;
  position: relative;
  z-index: 0;
  display: grid;
  display: flex;
  column-gap: 10px;
  align-items: center;
  position: relative;
  background: transparent;
  color: #8F91AA;
  border-radius: 0;
}
.sidebar #sidebar_menu > li a .nav_icon_small {
  width: fit-content;
}
.sidebar #sidebar_menu > li a .nav_icon_small svg {
  transition: color 0.3s ease;
}
.sidebar #sidebar_menu > li a .nav_icon_small svg path {
  transition: color 0.3s ease;
}
.sidebar #sidebar_menu > li a .nav_title {
  font-size: 12px;
  font-weight: 500;
  color: var(--white);
  transition: all 0.3s ease;
}
.sidebar #sidebar_menu > li a::before {
  content: "";
  position: absolute;
  left: -20px;
  top: 0;
  bottom: 0;
  width: 3px;
  background: var(--theme_color);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
}
.sidebar #sidebar_menu > li a.has_arrow::after {
  content: "";
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%) rotate(315deg);
  border: solid var(--white);
  border-width: 0 2px 2px 0;
  padding: 3px;
  transition: transform 0.3s ease;
}
.sidebar #sidebar_menu > li a.active, .sidebar #sidebar_menu > li a:hover {
  background: #151C3D;
}
.sidebar #sidebar_menu > li a.active .nav_title, .sidebar #sidebar_menu > li a:hover .nav_title {
  color: rgb(79, 70, 229);
}
.sidebar #sidebar_menu > li a.active .nav_icon_small svg, .sidebar #sidebar_menu > li a:hover .nav_icon_small svg {
  color: var(--theme_color);
}
.sidebar #sidebar_menu > li a.active .nav_icon_small svg path, .sidebar #sidebar_menu > li a:hover .nav_icon_small svg path {
  color: var(--theme_color);
  stroke: var(--theme_color);
}
.sidebar #sidebar_menu > li a.active::before, .sidebar #sidebar_menu > li a:hover::before {
  opacity: 1;
  visibility: visible;
}
.sidebar #sidebar_menu > li a.active.has_arrow::after, .sidebar #sidebar_menu > li a:hover.has_arrow::after {
  transform: translateY(-50%) rotate(404deg);
  border: solid rgb(79, 70, 229);
  border-width: 0 2px 2px 0;
}
.sidebar #sidebar_menu > li .category_title {
  font-weight: 400;
  font-size: 10px;
  line-height: 15px;
  text-transform: uppercase;
  color: rgba(255, 255, 255, 0.7);
  display: block;
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
}
.sidebar #sidebar_menu > li .settings_title {
  margin-top: 35px;
}

/* --- RESPONSIVE SIDEBAR LOGIC --- */
@media (max-width: 991px) {
  .dark_sidebar {
    left: -250px;
    transition: all 0.3s ease-in-out;
    z-index: 9999;
    top: 78px;
    padding-bottom: 160px;
  }
  .dark_sidebar.active_sidebar {
    left: 0;
  }
  .main_content {
    padding-left: 0 !important;
    margin-left: 0 !important;
    width: 100% !important;
  }
}
/* --- END RESPONSIVE BLOCK --- */
.menu-icon {
  cursor: pointer;
  position: relative;
  z-index: 111;
  width: 30px;
  min-width: 30px;
  height: 30px;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.05);
  border: none;
  outline: none;
  border-radius: 100%;
  transition: all 0.3s ease-in-out;
  display: none;
  flex-direction: column;
  column-gap: 0;
  row-gap: 0;
}
@media (max-width: 991px) {
  .menu-icon {
    display: flex;
  }
}
.menu-icon .bar1,
.menu-icon .bar2,
.menu-icon .bar3 {
  background-color: var(--theme_dark);
  transition: 0.4s;
  border-radius: 0px;
  width: 21px;
  height: 2px;
  min-height: 2px;
  line-height: 0px;
  margin-bottom: 4px;
}
.menu-icon .bar3 {
  margin-bottom: 0px;
}
.menu-icon.cross .bar1 {
  transform: translate(0, 5px) rotate(-45deg);
}
.menu-icon.cross .bar2 {
  opacity: 0;
}
.menu-icon.cross .bar3 {
  transform: translate(0, -7px) rotate(45deg);
}

/**************** common css start ****************/
.mt-30 {
  margin-top: 30px;
}

.mb-30 {
  margin-bottom: 30px;
}

/* SECTION TITLE START */
.dashboard-section-title {
  margin-bottom: 40px;
}
.dashboard-section-title .title {
  font-weight: 600;
  font-size: 28px;
  line-height: 130%;
  letter-spacing: 0%;
  color: var(--text_dark);
}
@media (max-width: 991px) {
  .dashboard-section-title .title {
    font-size: 24px;
    line-height: 120%;
  }
}
@media (max-width: 576px) {
  .dashboard-section-title .title {
    font-size: 22px;
    line-height: 130%;
  }
}
.dashboard-section-title p {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--text_ash);
}

/* SECTION TITLE END */
/* DASHBOARD STATUS START */
.dashboared-status-badge {
  font-weight: 600;
  font-size: 10px;
  line-height: 100%;
  text-transform: uppercase;
  padding: 6px 10px;
  text-align: center;
  width: fit-content;
}
.dashboared-status-badge.active {
  background: #E3FAF3;
  color: #059669;
}
.dashboared-status-badge.deactive {
  background: #F3E8E8;
  color: #B91C1C;
}
.dashboared-status-badge.pending,
.dashboared-status-badge .maintenance {
  background: #FFF5D5;
  color: #FD980B;
}
.dashboared-status-badge.inactive {
  color: var(--text_dark);
  background: #E3E3E3;
}

/* DASHBOARD STATUS END */
/* dashboard-menu-dots */
.dashboard-menu-dots {
  border: 1px solid #F4F4F4;
  border-radius: 3.5px;
  padding: 5px 4px;
  outline: none;
  background: transparent;
  font-size: 18px;
  color: var(--text_ash);
  cursor: pointer;
  line-height: 18px;
  height: 27px;
  width: 27px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.dashboard-menu-dots::after {
  display: none;
}

/* dashboard-menu-dots */
/* DashBoard Common Switch Start */
.dashboard_common_switch {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
.dashboard_common_switch .form-check-input {
  width: 51px;
  height: 26px;
  border: 1px solid #F5EDEC;
  cursor: pointer;
}
.dashboard_common_switch .form-check-input:focus {
  border-color: #F5EDEC;
  box-shadow: none;
}
.dashboard_common_switch .form-check-input:checked {
  background-color: var(--theme_color);
}

.form-switch {
  padding-left: 25px !important;
}

.form-switch .form-check-input:checked {
  background-repeat: no-repeat !important;
}

.form-switch .form-check-input {
  background-repeat: no-repeat !important;
}

.upload-img-box img {
  max-height: 50px;
  object-fit: contain;
}

/* DashBoard Common Switch End */
/* DashBoard Common Image Upload Box Start */
.common-image-upload-box .upload-img-box {
  position: relative;
  height: 150px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--theme_dark);
  border-radius: 0px;
  border: 1px solid var(--border_color);
  background: #F8FAFC;
  transition: all 0.3s ease-in-out;
  border-style: dashed;
}
.common-image-upload-box .upload-img-box img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  max-height: 100%;
  max-width: 100%;
  object-fit: cover;
  width: 100%;
}
.common-image-upload-box .upload-img-box input {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}
.common-image-upload-box .upload-img-box .choose-text {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 12px;
  color: var(--text_ash);
}

/* DashBoard Common Image Upload Box End */
/* COMMON TAB START */
.dashboard_common_tabs {
  position: relative;
  margin-bottom: 20px;
}
.dashboard_common_tabs .nav-item .nav-link {
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  color: var(--text_ash);
  border: none;
  outline: none;
  background: transparent;
  padding: 5px 20px;
  position: relative;
  z-index: 11;
}
.dashboard_common_tabs .nav-item .nav-link.active {
  color: var(--theme_color);
  border-bottom: 1px solid var(--theme_color);
}
@media (max-width: 991px) {
  .dashboard_common_tabs .nav-item .nav-link {
    font-size: 13px;
  }
}
.dashboard_common_tabs::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 1px;
  background: var(--border_color);
  bottom: 0;
  left: 0;
  z-index: 1;
}

/* COMMON TAB END */
.dashboared-table-dropdown {
  padding: 0;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);
  min-width: 120px;
}
.dashboared-table-dropdown li:last-child .dropdown-item {
  border-bottom: none;
}
.dashboared-table-dropdown .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.dashboared-table-dropdown .dropdown-item img {
  margin-right: 8px;
}
.dashboared-table-dropdown .dropdown-item:hover {
  background: transparent;
  color: rgb(79, 70, 229);
}

/* COMMON BUTTON START */
.primary_button,
a.primary_button {
  border: none;
  outline: none;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 0px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  height: 35px;
  background-color: var(--theme_color);
  color: var(--white);
}
.primary_button:hover,
a.primary_button:hover {
  background-color: var(--theme_dark);
  color: var(--white);
}
.primary_button.cancel,
a.primary_button.cancel {
  background-color: #E3E3E3;
  color: var(--text_dark);
}
.primary_button.cancel:hover,
a.primary_button.cancel:hover {
  background-color: #D1D5DB;
  color: #1F2937;
}

/* COMMON BUTTON END */
.dashboard_search_addNew_box {
  padding: 10px;
  background: var(--white);
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}
@media (max-width: 410px) {
  .dashboard_search_addNew_box {
    flex-direction: column;
    row-gap: 10px;
    align-items: flex-start;
  }
  .dashboard_search_addNew_box .primary_button {
    max-width: 100%;
    width: 100%;
  }
}

/* COMMON SEARCH START */
.serach_field_area {
  max-width: 225px;
  width: 100%;
}
@media (max-width: 410px) {
  .serach_field_area {
    max-width: 100%;
  }
}
.serach_field_area .search_field {
  position: relative;
  max-width: 225px;
}
@media (max-width: 410px) {
  .serach_field_area .search_field {
    max-width: 100%;
  }
}
.serach_field_area .search_field .search-image {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
}
.serach_field_area .search_field input {
  border: 1px solid rgb(226, 232, 240);
  outline: none;
  background: rgb(248, 250, 252);
  border-radius: 0px;
  padding: 11px 18px 11px 35px;
  width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: rgb(97, 107, 128);
  width: 100%;
}

/* COMMON SEARCH END */
/* Region Card Start */
.region-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  /* Tablet */
  /* Mobile */
}
@media (max-width: 991px) {
  .region-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 575px) {
  .region-grid {
    grid-template-columns: 1fr;
  }
}

.region_card {
  background: var(--white);
  border: 1px solid var(--border_color);
  padding: 22px;
}
.region_card .cards-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.region_card .cards-header .icon-container {
  width: 40px;
  height: 40px;
  background: #EEF2FF;
  display: flex;
  align-items: center;
  justify-content: center;
}
.region_card .cards-body {
  min-height: 55px;
  border-bottom: 1px solid #EDF2F8;
  margin-bottom: 20px;
}
.region_card .cards-body .title {
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  color: #000000;
  margin-bottom: 5px;
}
.region_card .cards-body .subtitle {
  font-weight: 400;
  font-size: 10px;
  line-height: 100%;
  color: var(--text_ash);
}
.region_card .cards-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.region_card .cards-footer .state label {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  color: var(--text_ash);
  margin-bottom: 4px;
}
.region_card .cards-footer .state .value {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
  color: #000000;
}
.region_card .dropdown-menu {
  padding: 0;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);
}
.region_card .dropdown-menu li:last-child .dropdown-item {
  border-bottom: none;
}
.region_card .dropdown-menu .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.region_card .dropdown-menu .dropdown-item img {
  margin-right: 8px;
}
.region_card .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgb(79, 70, 229);
}

/* Region Card End */
/* DASHBOARD TABLE START */
.dashboard_common_table {
  padding: 20px 20px 0px 20px;
  background: var(--white);
  border: 1px solid var(--border_color);
}
.dashboard_common_table .table {
  margin-bottom: 0;
}
@media (max-width: 768px) {
  .dashboard_common_table .table {
    min-width: 991px;
  }
}
.dashboard_common_table .table thead.table-heading {
  background: #F8FAFC;
  border: 1px solid var(--border_color);
}
.dashboard_common_table .table thead.table-heading th {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: var(--text_ash);
}
.dashboard_common_table .table tbody th,
.dashboard_common_table .table tbody td {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  vertical-align: middle;
  color: var(--text_dark);
}
.dashboard_common_table .table > :not(:last-child) > :last-child > * {
  border-bottom-color: var(--border_color);
}
.dashboard_common_table .table > :not(caption) > * > * {
  padding: 17px 10px;
}
@media (max-width: 576px) {
  .dashboard_common_table .table > :not(caption) > * > * {
    padding: 10px;
  }
}
.dashboard_common_table tr:last-child > * {
  border-bottom-width: 0;
}
.dashboard_common_table .network_status {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #10B981;
}
.dashboard_common_table .network_status img {
  margin-right: 4px;
}
.dashboard_common_table .plan-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--theme_color);
}
.dashboard_common_table .dashboared-status-badge {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  text-transform: capitalize;
}
.dashboard_common_table .plan-status {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  margin-top: 4px;
}
.dashboard_common_table .plan-status.local {
  color: #10B981;
}
.dashboard_common_table .plan-status.continental {
  color: var(--theme_color);
}
.dashboard_common_table .plan-status.global {
  color: #D97706;
}
.dashboard_common_table .label-text {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  margin-top: 4px;
  color: var(--text_ash);
}
.dashboard_common_table .storage-container {
  width: 100%;
  max-width: 180px;
}
.dashboard_common_table .storage-container .storage-labels {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 5px;
}
.dashboard_common_table .storage-container .storage-labels .used-text {
  color: var(--text_ash);
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
}
.dashboard_common_table .storage-container .storage-labels .total-text {
  color: var(--text_dark);
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
}
.dashboard_common_table .storage-container .progress-bar {
  width: 100%;
  height: 6px;
  background-color: #E4EBF2;
  border-radius: 0px;
  overflow: hidden;
}
.dashboard_common_table .storage-container .progress-bar .progress-fill {
  height: 100%;
  background-color: #6366F1;
  transition: width 0.5s ease-in-out;
}
.dashboard_common_table .smalltext {
  font-weight: 500;
  font-size: 10px;
  line-height: 100%;
  margin-bottom: 2px;
  color: var(--text_dark);
}
.dashboard_common_table .language-edit {
  column-gap: 10px;
}
.dashboard_common_table .language-edit .trans-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--theme_color);
}
.dashboard_common_table .flag-div img {
  width: 23px;
  height: 23px;
  border-radius: 100%;
}
.dashboard_common_table .action-btns {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

/* DASHBOARD TABLE END */
.dashboard-common-modal {
  /* HEADER */
  /* FORM LAYOUT */
  /* SELECT DROPDOWN LOOK */
  /* ACTION BUTTONS */
}
.dashboard-common-modal .modal-dialog {
  max-width: 1148px;
}
.dashboard-common-modal .modal-dialog.custom-modal-size-1 {
  max-width: 720px;
}
.dashboard-common-modal .modal-content {
  border: none;
  border-radius: 0px;
  box-shadow: none;
  padding: 50px 40px 45px;
}
@media (max-width: 991px) {
  .dashboard-common-modal .modal-content {
    padding: 35px 30px;
  }
}
@media (max-width: 576px) {
  .dashboard-common-modal .modal-content {
    padding: 30px;
  }
}
.dashboard-common-modal .modal-header {
  border-bottom: 1px solid var(--border_color);
  padding: 0px 0px 30px 0px;
  margin-bottom: 40px;
}
@media (max-width: 576px) {
  .dashboard-common-modal .modal-header {
    padding: 0px 0px 20px 0px;
    margin-bottom: 20px;
  }
}
.dashboard-common-modal .modal-header h2 {
  font-weight: 500;
  font-size: 24px;
  line-height: 16px;
  color: var(--text_dark);
}
@media (max-width: 576px) {
  .dashboard-common-modal .modal-header h2 {
    font-size: 20px;
  }
}
.dashboard-common-modal .modal-header .btn-close {
  opacity: 1;
  transform: scale(0.9);
}
.dashboard-common-modal .modal-header .btn-close:hover {
  opacity: 1;
}
.dashboard-common-modal .modal-body {
  padding: 0;
}
.dashboard-common-modal .modal-form {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
@media (max-width: 576px) {
  .dashboard-common-modal .modal-form {
    gap: 20px;
  }
}
.dashboard-common-modal .form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}
@media (max-width: 768px) {
  .dashboard-common-modal .form-row {
    grid-template-columns: 1fr;
  }
}
@media (max-width: 576px) {
  .dashboard-common-modal .form-row {
    gap: 20px;
  }
}
.dashboard-common-modal select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='5' viewBox='0 0 8 5' fill='none'%3E%3Cpath d='M7.85049 0.775635L4.41907 4.71153C4.18318 4.98211 3.78486 4.98211 3.54896 4.71153L0.117516 0.775635C-0.140291 0.479893 0.0539101 -0.00537109 0.430091 -0.00537109H7.53788C7.91409 -0.00537109 8.1083 0.479893 7.85049 0.775635Z' fill='%230D0D0D'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 12px center;
  background-size: 8px 5px;
  padding-right: 32px;
}
.dashboard-common-modal .form-actions {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  margin-top: 10px;
}

.dashboard-form-group {
  display: flex;
  flex-direction: column;
  gap: 6px;
}
.dashboard-form-group.full-width {
  grid-column: span 2;
}
@media (max-width: 768px) {
  .dashboard-form-group.full-width {
    grid-column: span 1;
  }
}
.dashboard-form-group.no-gap {
  gap: 0px;
}
.dashboard-form-group.no-gap > label {
  margin-bottom: 6px;
}
.dashboard-form-group.has-selectable-box .selectable-box {
  display: flex;
  align-items: center;
  column-gap: 8px;
}
.dashboard-form-group.has-selectable-box .selectable-box input {
  width: calc(100% - 110px);
}
.dashboard-form-group label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #0D0D0D;
}
.dashboard-form-group label span {
  color: var(--theme_color);
}
@media (max-width: 1180px) {
  .dashboard-form-group label {
    font-size: 12px;
  }
}
.dashboard-form-group input,
.dashboard-form-group select {
  height: 45px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--theme_dark);
  border-radius: 0px;
  border: 1px solid var(--border_color);
  background: #F8FAFC;
}
.dashboard-form-group input::placeholder,
.dashboard-form-group select::placeholder {
  color: var(--text_ash);
}
.dashboard-form-group input:focus,
.dashboard-form-group select:focus {
  outline: none;
  background: var(--white);
  border-color: var(--theme_color);
}
.dashboard-form-group .checkbox-container {
  display: flex;
  align-items: center;
  column-gap: 8px;
  height: 45px;
  padding: 15px 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--theme_dark);
  border-radius: 0px;
  border: 1px solid var(--border_color);
  background: #F8FAFC;
}
.dashboard-form-group .checkbox-container input[type=checkbox] {
  display: none;
}
.dashboard-form-group .checkbox-container .custom-box {
  width: 20px;
  height: 20px;
  border: 1.5px solid #D1D5DB;
  border-radius: 6px;
  background: transparent;
  display: inline-block;
  position: relative;
  transition: all 0.2s ease;
}
.dashboard-form-group .checkbox-container .custom-box::after {
  content: "";
  position: absolute;
  left: 6px;
  top: 2px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
  display: none;
}
.dashboard-form-group .checkbox-container input[type=checkbox]:checked + .custom-box {
  background: var(--theme_color);
  border-color: var(--theme_color);
}
.dashboard-form-group .checkbox-container input[type=checkbox]:checked + .custom-box::after {
  display: block;
}
.dashboard-form-group .checkbox-container .text {
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--text_ash);
}

.commercial-settings {
  padding: 25px;
  border: 1px solid var(--border_color);
  background: #F7F9FB;
}
.commercial-settings .title {
  font-weight: 500;
  font-size: 18px;
  line-height: 16px;
  margin-bottom: 25px;
}

.esim-details-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem 1.5rem;
}
.esim-details-grid .detail-item {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.esim-details-grid .detail-item .label {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: #0D0D0D;
}
.esim-details-grid .detail-item .value {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--text_ash);
}

.modal-backdrop {
  background-color: rgb(15, 23, 42);
}

@media (max-width: 768px) {
  .esim-details-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
.form-row-gap-set {
  row-gap: 30px;
}

.currency-conversation-rate-wrapper .select2-container {
  width: 41% !important;
}

.select2-search--dropdown input {
  height: 40px;
  padding: 15px 20px !important;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--theme_dark);
  border-radius: 0px;
  border: 1px solid var(--border_color) !important;
  background: #F8FAFC;
}
.select2-search--dropdown input::placeholder {
  color: var(--text_ash);
}
.select2-search--dropdown input:focus {
  outline: none;
  background: var(--white);
  border-color: var(--theme_color);
}

label.common-form-label {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: #0D0D0D;
}
label.common-form-label span {
  color: var(--theme_color);
}
@media (max-width: 1180px) {
  label.common-form-label {
    font-size: 12px;
  }
}

.currency-warning {
  font-size: 14px;
  line-height: 24px;
}

.select2-container--default .select2-selection--single {
  height: 45px;
  padding: 5px 12px;
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--theme_dark);
  border-radius: 0px;
  border: 1px solid var(--border_color);
  background: #F8FAFC;
  display: flex;
  align-items: center;
}
.select2-container--default .select2-selection--single:focus {
  outline: none;
  border-color: var(--theme_color);
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  border-color: #0D0D0D transparent transparent transparent;
  left: 0;
  margin-top: 5px;
}

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
  border-color: transparent transparent #0D0D0D transparent;
}

.select2-container--open {
  z-index: 1111;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: transparent;
  color: var(--theme_color);
}

.select2-dropdown {
  background-color: white;
  border: 1px solid var(--border_color);
  border-radius: 0px;
  box-sizing: border-box;
}

.select2-results__option {
  padding: 12px 25px;
  border-bottom: 1px solid var(--border_color);
  font-weight: 500;
  font-size: 12px;
  line-height: 130%;
  color: var(--theme_dark);
}
.select2-results__option:last-child {
  border-bottom: none;
}

.select2-container--default .select2-results__option--selected {
  background-color: transparent;
}

.select2-container {
  min-width: 100px;
}

.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-undo,
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-redo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-undo::before,
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-redo::before {
  content: "";
  display: block;
  width: 18px;
  height: 18px;
  background-color: var(--text_ash);
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  mask-size: contain;
  margin-top: 10px;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-undo:hover::before,
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-redo:hover::before {
  background-color: #007bff;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-undo::before {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 9"><path d="M10.5 1C7.85 1 5.45 1.99 3.6 3.6L0 0V9H9L5.38 5.38C6.77 4.22 8.54 3.5 10.5 3.5C14.04 3.5 17.05 5.81 18.1 9L20.47 8.22C19.08 4.03 15.15 1 10.5 1Z"/></svg>');
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats button.ql-redo::before {
  -webkit-mask-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 21 9"><path d="M16.86 3.6C15.01 1.99 12.61 1 9.96 1C5.31 1 1.38 4.03 0 8.22L2.36 9C3.41 5.81 6.41 3.5 9.96 3.5C11.91 3.5 13.69 4.22 15.08 5.38L11.46 9H20.46V0L16.86 3.6Z"/></svg>');
}
.common_editor_block .ql-snow .ql-toolbar button svg {
  width: 18px;
  height: 18px;
  float: left;
}
.common_editor_block .ql-toolbar button:hover .ql-stroke {
  stroke: #007bff !important;
}
.common_editor_block .ql-toolbar button:hover .ql-fill {
  fill: #007bff !important;
}
.common_editor_block .ql-toolbar.ql-snow {
  border: 1px solid var(--border_color);
  border-bottom: 0px;
  border-radius: 5px 5px 0px 0px;
  background: #F8FAFC;
  padding: 0px;
}
.common_editor_block .ql-container.ql-snow {
  border: 1px solid var(--border_color);
  border-top: none;
  border-radius: 0 0 5px 5px;
  font-family: inherit;
  font-size: 14px;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats {
  margin-right: 0;
  padding: 8px 10px;
  border-right: 1px solid #E4E6EB;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats .ql-picker-label {
  color: var(--text_ash);
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats .ql-picker-label {
  line-height: 1px;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats .ql-stroke {
  stroke: var(--text_ash);
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats .ql-image {
  padding: 0px;
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats .ql-image .ql-fill {
  fill: var(--text_ash);
}
.common_editor_block .ql-toolbar.ql-snow .ql-formats button {
  padding: 0px;
  width: 24px;
  margin: 0 4px;
}

.header_right {
  column-gap: 15px;
  width: 70%;
  justify-content: flex-end;
}
@media (max-width: 1024px) {
  .header_right .serach_field_area {
    display: none;
  }
}

.custom-breadcrumb {
  display: flex;
  align-items: center;
  column-gap: 3px;
}
@media (max-width: 576px) {
  .custom-breadcrumb {
    display: none;
  }
}
.custom-breadcrumb li a {
  font-weight: 400;
  font-size: 12px;
  line-height: 24px;
  color: rgb(97, 107, 128);
}
.custom-breadcrumb li span {
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: rgb(13, 13, 13);
}

.admin_dropdown .profile_dropdown {
  display: flex;
  align-items: center;
  column-gap: 13px;
  border: none;
  outline: none;
  background: transparent;
}
.admin_dropdown .profile_dropdown::after {
  display: none;
}
.admin_dropdown .profile_dropdown .admin_image {
  width: 40px;
  height: 40px;
  min-width: 40px;
  border-radius: 50%;
  object-fit: cover;
}
.admin_dropdown .profile_dropdown .info {
  text-align: left;
}
.admin_dropdown .profile_dropdown .info .wellcome {
  font-weight: 400;
  font-size: 11px;
  line-height: 11px;
  color: rgb(101, 101, 101);
  text-align: left;
  display: block;
}
.admin_dropdown .profile_dropdown .info .admin_name {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: rgb(13, 13, 13);
}
.admin_dropdown .profile_dropdown .info .admin_name img {
  margin-left: 5px;
}
.admin_dropdown .dropdown-menu {
  padding: 0;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);
}
.admin_dropdown .dropdown-menu li:last-child .dropdown-item {
  border-bottom: none;
}
.admin_dropdown .dropdown-menu .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.admin_dropdown .dropdown-menu .dropdown-item img {
  margin-right: 8px;
}
.admin_dropdown .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgb(79, 70, 229);
}

.flag_dropdown_wrapper .flag_dropdown {
  padding: 7px 15px 7px 8px;
  border: 1px solid rgb(226, 232, 240);
  outline: none;
  background: rgb(248, 250, 252);
  position: relative;
  display: flex;
  align-items: center;
  column-gap: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  color: var(--text_dark);
}
@media (max-width: 400px) {
  .flag_dropdown_wrapper .flag_dropdown {
    padding: 7px 7px 7px 7px;
  }
}
.flag_dropdown_wrapper .flag_dropdown::after {
  border: none;
  background-image: url("/assets/images/icons/dropdown-arrow.svg");
  border: none;
  background-image: url("/assets/images/icons/dropdown-arrow.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 12px;
  height: 12px;
  vertical-align: 0;
  margin-left: 15px;
}
.flag_dropdown_wrapper .flag_dropdown .arrow-icon {
  margin-left: 14px;
  position: absolute;
}
.flag_dropdown_wrapper .flag-icon {
  height: 25px;
  border-radius: 100%;
  width: 25px;
  background-size: cover;
}
.flag_dropdown_wrapper .dropdown-item {
  display: flex;
  align-items: center;
  column-gap: 7px;
}

.notification_dropdown_wrapper .notification_dropdown_btn {
  border: 1px solid rgb(226, 232, 240);
  outline: none;
  background: rgb(248, 250, 252);
  border-radius: 100%;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification_dropdown_wrapper .notification_dropdown_btn::after {
  display: none;
}
.notification_dropdown_wrapper .notification_dropdown_btn .notification-count {
  width: 13px;
  height: 13px;
  border-radius: 30px;
  background: var(--theme_color);
  color: var(--white);
  position: absolute;
  right: 0;
  top: 0;
  font-weight: 500;
  font-size: 9px;
  line-height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.notification_dropdown_wrapper .dropdown-menu {
  padding: 0;
  border: 1px solid rgb(226, 232, 240);
  border-radius: 0px;
  box-shadow: 0px 9px 24px 0px rgba(0, 0, 0, 0.06);
}
.notification_dropdown_wrapper .dropdown-menu li:last-child .dropdown-item {
  border-bottom: none;
}
.notification_dropdown_wrapper .dropdown-menu .title {
  background: rgb(15, 23, 42);
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
}
.notification_dropdown_wrapper .dropdown-menu .see_all_notificaiton a {
  text-align: center;
  color: rgb(79, 70, 229);
  transition: all 0.3s ease;
}
.notification_dropdown_wrapper .dropdown-menu .see_all_notificaiton a:hover {
  text-decoration: underline;
}
.notification_dropdown_wrapper .dropdown-menu .dropdown-item {
  padding: 10px;
  border-bottom: 1px solid rgb(226, 232, 240);
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
}
.notification_dropdown_wrapper .dropdown-menu .dropdown-item img {
  margin-right: 8px;
}
.notification_dropdown_wrapper .dropdown-menu .dropdown-item:hover {
  background: transparent;
  color: rgb(79, 70, 229);
}

.dashboard_part {
  padding-left: 250px;
  min-height: 100vh;
  overflow: hidden;
}
.dashboard_part .header_iner {
  padding: 20px 30px 15px;
  border-bottom: 1px solid rgb(226, 232, 240);
  display: none;
}

/* DASHBOARD CONTENT START */
.dashboard-content {
  padding: 35px 30px;
  background: #F8FAFC;
  min-height: calc(100vh - 85px);
}
@media (max-width: 1024px) {
  .dashboard-content {
    padding: 20px 20px 40px 20px;
  }
}

/* DASHBOARD CONTENT END */
.settings-grid-container {
  gap: 20px;
}
@media (max-width: 768px) {
  .settings-grid-container {
    flex-direction: column;
  }
}
.settings-grid-container .settings-sidebar {
  width: 250px;
  flex-shrink: 0;
  background: var(--white);
  overflow: hidden;
}
@media (max-width: 768px) {
  .settings-grid-container .settings-sidebar {
    width: 100%;
    overflow-x: auto;
  }
  .settings-grid-container .settings-sidebar .flex-column {
    flex-direction: row !important;
    flex-wrap: nowrap;
  }
  .settings-grid-container .settings-sidebar .flex-column .nav-link {
    min-width: max-content;
    column-gap: 15px;
  }
}
.settings-grid-container .settings-sidebar .nav-link {
  text-align: left;
  border-radius: 0;
  color: var(--text_dark);
  padding: 20px;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  border-bottom: 1px solid var(--border_color);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.settings-grid-container .settings-sidebar .nav-link:last-child {
  border-bottom: none;
}
.settings-grid-container .settings-sidebar .nav-link::after {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--text_dark);
  mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M6.22271 3.68784L2.66261 0.127804C2.58027 0.045398 2.47035 0 2.35315 0C2.23595 0 2.12603 0.045398 2.04369 0.127804L1.78151 0.389915C1.61091 0.560711 1.61091 0.838302 1.78151 1.00884L4.77102 3.99834L1.77819 6.99116C1.69585 7.07357 1.65039 7.18342 1.65039 7.30056C1.65039 7.41783 1.69585 7.52768 1.77819 7.61015L2.04037 7.8722C2.12278 7.9546 2.23263 8 2.34983 8C2.46703 8 2.57695 7.9546 2.65929 7.8722L6.22271 4.30891C6.30525 4.22624 6.35058 4.11587 6.35032 3.99854C6.35058 3.88075 6.30525 3.77044 6.22271 3.68784Z' fill='%23000'/%3E%3C/svg%3E") no-repeat center;
  -webkit-mask: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8' fill='none'%3E%3Cpath d='M6.22271 3.68784L2.66261 0.127804C2.58027 0.045398 2.47035 0 2.35315 0C2.23595 0 2.12603 0.045398 2.04369 0.127804L1.78151 0.389915C1.61091 0.560711 1.61091 0.838302 1.78151 1.00884L4.77102 3.99834L1.77819 6.99116C1.69585 7.07357 1.65039 7.18342 1.65039 7.30056C1.65039 7.41783 1.69585 7.52768 1.77819 7.61015L2.04037 7.8722C2.12278 7.9546 2.23263 8 2.34983 8C2.46703 8 2.57695 7.9546 2.65929 7.8722L6.22271 4.30891C6.30525 4.22624 6.35058 4.11587 6.35032 3.99854C6.35058 3.88075 6.30525 3.77044 6.22271 3.68784Z' fill='%23000'/%3E%3C/svg%3E") no-repeat center;
  transition: all 0.2s ease;
}
.settings-grid-container .settings-sidebar .nav-link.active {
  color: var(--theme_color) !important;
  background-color: var(--white) !important;
  position: relative;
}
.settings-grid-container .settings-sidebar .nav-link.active::after {
  background-color: var(--theme_color);
}
.settings-grid-container .dashboard-settings-card {
  background-color: var(--white);
  padding: 20px;
  margin-bottom: 20px;
}
.settings-grid-container .dashboard-settings-card.has-min-height {
  min-height: 480px;
}
.settings-grid-container .dashboard-settings-card .card-title {
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  color: var(--text_dark);
  padding-bottom: 10px;
  border-bottom: 1px solid var(--border_color);
  margin-bottom: 20px;
}
.settings-grid-container .dashboard-settings-card .card-body {
  padding: 0;
}
.settings-grid-container .dashboard-settings-card .show-logo-wrap {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}
.settings-grid-container .dashboard-settings-card .show-logo-wrap .title-text {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  color: var(--text_dark);
}
.settings-grid-container .dashboard-settings-card .show-logo-wrap .show-logo {
  background: #F8FAFC;
  width: 240px;
  height: 155px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1360px) {
  .settings-grid-container .dashboard-settings-card .show-logo-wrap .show-logo {
    width: 100%;
  }
}
.settings-grid-container .dashboard-settings-card .show-logo-wrap .show-logo img {
  max-width: 150px;
  height: 100px;
  object-fit: contain;
}
.settings-grid-container .dashboard-settings-card .single-payment {
  width: 100%;
  height: 260px;
  background: #F8F8F8;
  padding: 10px;
  position: relative;
  display: flex;
  justify-content: end;
}
@media (max-width: 768px) {
  .settings-grid-container .dashboard-settings-card .single-payment {
    height: 190px;
  }
}
.settings-grid-container .dashboard-settings-card .single-payment .dashboard-menu-dots {
  border: 1px solid #E6E6E6;
}
.settings-grid-container .dashboard-settings-card .single-payment img.payment-img {
  position: absolute;
  max-width: 80px;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.settings-grid-container .dashboard-settings-card .single-payment .status-box {
  position: absolute;
  bottom: 5px;
  left: 5px;
  display: flex;
  column-gap: 8px;
}
.settings-grid-container .dashboard-settings-card .single-payment .status-box .status {
  font-weight: 500;
  font-size: 12px;
  line-height: 100%;
  padding: 6px 15px;
}
.settings-grid-container .dashboard-settings-card .single-payment .status-box .status.active {
  color: #0FA958;
  background: #EBF3EE;
}
.settings-grid-container .dashboard-settings-card .single-payment .status-box .status.pending {
  background: #FFF5D5;
  color: #FD980B;
}
.settings-grid-container .dashboard-settings-card .single-payment .status-box .status.inactive {
  color: var(--text_dark);
  background: #E3E3E3;
}

/* COMPONENT CONTENT */

/*# sourceMappingURL=style.css.map */
